@{
    ViewData["Title"] = "How to Us";
}
<h1>Nasıl Çalışır ?</h1>

<p>Bu proje mevcut CSV dosyanızı sisteme yüklemenizi sağlar. Yükleme aşamasında da formata uygun olmayan kayıtları siler. Başarıyla alınan kayıtlar bir tablo içinde size gösterilir. </p>
<p>Tabloya yansıtılmış veriler daha sonra veritabanına kayıt edilmek üzere kuyruğa alınması için bir klasöre kaydedilir. Hazırlanmış olan Windows Console Uygulaması ile buraya başarıyla aktarılmış verilerin dosyaları saat başı kontrol edilip veritabanına kayıt edilir.</p>
<p>Kayıt veritabanında mevcut ise "Stok" ve "Fiyat" değerlerine bakılır eğer bu değerler eşit değilse bu alanlar için güncelleme yapılır. Kayıt hiç mevcut değilse sisteme kayıt edilir.</p>

<p>Bu işlemler üye girişi yapılarak gerçekleştirilebilir. Üye değilseniz kayıt olabilirsiniz.</p>
<p>Üyelik sistemi email kaydı üzerinden ilerlemektedir. Email bilginiz ile bir kez kayıt olabilirsiniz.</p>
<p>Validation eklemeleri yapılmamıştır. (Örnek: Password alanı)</p>